@font-face {
  font-family: gsans; /* set name */
  src: url(/fonts/GeistPixel-Regular-VariableFont_ELSH.ttf) format(truetype)
}
@font-face {
  font-family: redaction; /* set name */
  src: url(/fonts/redaction-35-latin-400-normal.ttf) format(truetype)
}
.title {
  font-family: redaction;
}
body {
  background-color: #191724;
  color: #cabdff;
  text-align: center;
  justify-content: center;
  font-family: gsans;
}
.titlebar {
  background-color: #4f37ad;
  border-radius: 15px 15px 0px 0px; 
  height: 25px;
}
.window {
  width: 400px;
  text-align: center;
  height: 300px;
  border-radius: 15px;
  background-color: #382f59;
  color: #cabdff;
}
.content {
  padding: 15px;
}
