@font-face {
  font-family: gsans; /* set name */
  src: url(/fonts/GeistPixel-Regular-VariableFont_ELSH.ttf) format(truetype)
}
@font-face {
  font-family: redaction; /* set name */
  src: url(/fonts/redaction-35-latin-400-normal.ttf) format(truetype)
}
@font-face {
  font-family: mono; /* set name */
  src: url(/fonts/mono.ttf) format(truetype)
}
.title {
  font-family: redaction;
}
body {
  background-color: #efedfc;
  color: #0c0528;
  text-align: left;
  justify-content: left;
  font-family: gsans;
}
.titlebar {
  background-color: #4f37ad;
  font-family: redaction;
  align-items: center;
  display: flex;
padding-left: 10px;
  border-radius: 15px 15px 0px 0px; 
  height: 25px;
}
.window {
  width: 400px;
  text-align: left;
  height: 300px;
   justify-content: center;
  border-radius: 15px;
  background-color: #382f59;
  color: #cabdff;
}
.content {
  padding: 15px;
}
.balls {
  border-radius: 26px;
  width: 300px
}
.button {
  border-radius: 26px;
  width: 150px;
  color: #efedfc;
  background-color: #674fc6;
  height: 100px
}
.codeblock {
  background-color: #fff;
  stroke: #0c0528;
  font-family: mono;
  width: 400px;
  border-radius: 15px;
  text-align: left;
  padding: 10px;
}
.results {
  background-color: #fff;
  stroke: #0c0528;
  width: 400px;
  border-radius: 15px;
  text-align: left;
  padding: 10px;
}
