@font-face {
  font-family: gsans; /* set name */
  src: url(/fonts/googlesans.ttf) format(truetype)
}
body {
  background-color: #06011a;
  color: #cabdff;
  font-family: gsans;
}
.window {
  width: 600px;
  height: 400px;
  corner-radius: 15px;
  background-color: #cabdff;
  color: #06011a;
}
  
